<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.olutkellari">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelaaActivity"
            android:label="@string/title_activity_selaa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ArvosteleOlutActivity" />
        <activity android:name=".ProfiiliActivity"></activity>
    </application>

</manifest>